.principal {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botoes {
  margin-top: 10px;
  height: 40px;
  width: 50%;
  border-color: white;
}

.imagens {
  width: 30%;
  height: 30%;
}

* {
  font-family: Roboto;
}

#body {
  background-image: url(imagens/gg.jpg);
}

.botao {
  margin-top: 10px;
  width: 80%;
  border-color: white;
}